FLASK_ENV=development
FLASK_DEBUG=1

# For local PostgreSQL, example:
# postgresql+psycopg://postgres:postgres@localhost:5432/ai_pemalas_db
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/ai_pemalas_db

# Will be used in JWT step
JWT_SECRET_KEY=super-secret-change-me

# Optional: AI Pemalas via Groq API
GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant
GROQ_BASE_URL=https://api.groq.com/openai/v1
